/*!
 * Bliss v1.1
 *
 * GLP License
 * http://www.gnu.org/licenses/gpl.html
 *
 * Designed and built by Giovanni Filippi - http://giovannifilippi.com/wrapbootstrap/bliss
 */


/* ==========================================================================

 =BUTTON GLOBAL

========================================================================== */

.btn {
  display: inline-block;
  padding: 7px 22px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  &.btn-shadow {
	  padding: 8px 22px 12px;
	  &.btn-icon { 
	    padding: 8px 6px 12px;
	    width: 36px;
	    max-width: 36px; 
	    }
	  }
	&.btn-stroke {
		padding: 9px 22px; 
		}
  &.btn-icon {
	  padding: 8px 10px;
	  width: 36px;
	  max-width: 36px; 
	  }
  &.btn-lg {
	  padding: 15px 35px;
	  font-size: 20px;
	  line-height: 1.33;
	  border-radius: 4px;
	  &.btn-shadow { 
	    padding: 13px 35px 17px;
	    &.btn-icon {
	      padding: 13px 20px 17px;
	      width: 58px;
	      max-width: 58px;  
	      } 
	    }
	  &.btn-stroke {
		  padding: 14px 35px; 
		  }
		&.btn-icon {
	    padding: 15px 22px; 
	    width: 58px;
	    max-width: 58px; 
	    }
    }
  &.btn-sm {
	  padding: 5px 10px;
	  font-size: 12px;
	  line-height: 1.5;
	  border-radius: 2px;
	  &.btn-shadow {
		  padding: 3px 10px 7px;
		  &.btn-icon {
	      padding: 3px 8px 7px;
	      width: 30px;
	      max-width: 30px;  
	      }  
	    }
		&.btn-stroke {
		  padding: 3px 10px; 
		  }
		&.btn-icon {
    	padding: 5px 9px;
    	width: 30px;
	    max-width: 30px;  
    	}
	  }
	&.btn-xs {
	  padding: 3px 5px;
	  font-size: 12px;
	  line-height: 1.5;
	  border-radius: 2px;
	  &.btn-shadow {
		  padding: 2px 5px 4px;
		  &.btn-icon {
	      padding: 1px 6px 5px; 
	      width: 26px;
	      max-width: 26px; 
	      } 
	    }
		&.btn-stroke {
		  padding: 1px 5px; }
		&.btn-icon {
    	padding: 3px 6px; 
    	width: 26px;
	    max-width: 26px; 
    	}
	  }      
  &.btn-block {
	  display: block;
	  width: 100%;
	  padding-right: 0;
	  padding-left: 0; } 
	&.btn-block + .btn-block {
    margin-top: 5px; }
  &.btn-square {
	  border-radius: 0; }
	&.btn-round {
	  border-radius: 40px; }
	  }

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover,
.btn:focus {
  color: #ffffff;
  text-decoration: none; }

.btn:active,
.btn.active {
  outline: 0;
  &.btn-shadow span {
  	position: relative;
  	top: 2px; }
    }

.btn:active.btn-lg,
.btn.active.btn-lg {
  outline: 0; }

.btn:active.btn-sm,
.btn.active.btn-sm {
  outline: 0;
  &.btn-shadow {
  	padding: 4px 10px 6px; }
    }

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none; }

/* =DEFAULT
========================================================================== */

.btn-default {
  color: #fff;
  background-color: $text-color;
  border-color: $text-color;
  &.btn-border {
		border: 1px solid darken($text-color,20); }
  &.btn-shadow {
		-webkit-box-shadow: inset 0 -4px 0 darken($text-color,15); 
	     -moz-box-shadow: inset 0 -4px 0 darken($text-color,15);
		        box-shadow: inset 0 -4px 0 darken($text-color,15); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $text-color;
  	color: $text-color;
	  background: none; }
	&.btn-emboss {
	  text-shadow: 0 1px 2px darken($text-color,25); }
	&.btn-bevel {
	  text-shadow: 0 -1px 2px darken($text-color,25); }
    }

.btn-default:hover,
.btn-default:focus {
  background-color: lighten($text-color,4);
  border-color: lighten($text-color,4);
  &.btn-border {
		border: 1px solid darken($text-color,20); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $text-color;
  	color: #fff;
	  background: $text-color; }
    }

.btn-default:active,
.btn-default.active {
  background-color: darken($text-color,5);
  border-color: darken($text-color,5);
  -webkit-box-shadow: inset 0 2px 0 darken($text-color,15); 
	   -moz-box-shadow: inset 0 2px 0 darken($text-color,15);
		      box-shadow: inset 0 2px 0 darken($text-color,15);
	&.btn-border {
		border: 1px solid darken($text-color,20); }
  &.btn-shadow {
		-webkit-box-shadow: inset 0 3px 0 darken($text-color,19); 
	     -moz-box-shadow: inset 0 3px 0 darken($text-color,19);
		        box-shadow: inset 0 3px 0 darken($text-color,19); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: darken($text-color,7);
  	color: #fff;
	  background: darken($text-color,7);
	  -webkit-box-shadow: none; 
	     -moz-box-shadow: none;
		        box-shadow: none; }
    }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: $text-color;
  border-color: $text-color; }



/* =PRIMARY
========================================================================== */

.btn-primary {
  color: #ffffff;
  background-color: $brand-primary;
  border-color: $brand-primary;
  &.btn-shadow {
		-webkit-box-shadow: inset 0 -4px 0 darken($brand-primary,15); 
	     -moz-box-shadow: inset 0 -4px 0 darken($brand-primary,15);
		        box-shadow: inset 0 -4px 0 darken($brand-primary,15); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $brand-primary;
  	color: $brand-primary;
	  background: #fff; }
	&.btn-border {
		border: 1px solid darken($brand-primary,20); }
	&.btn-emboss {
	  text-shadow: 0 1px 2px darken($brand-primary,25); }
	&.btn-bevel {
	  text-shadow: 0 -1px 2px darken($brand-primary,25); }
    }

.btn-primary:hover,
.btn-primary:focus {
  background-color: lighten($brand-primary,4);
  border-color: lighten($brand-primary,4);
  &.btn-border {
		border: 1px solid darken($brand-primary,20); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $brand-primary;
  	color: #fff;
	  background: $brand-primary; }
    }

.btn-primary:active,
.btn-primary.active {
  background-color: darken($brand-primary,5);
  border-color: darken($brand-primary,5);
  -webkit-box-shadow: inset 0 2px 0 darken($brand-primary,15); 
	   -moz-box-shadow: inset 0 2px 0 darken($brand-primary,15);
		      box-shadow: inset 0 2px 0 darken($brand-primary,15);
  &.btn-border {
		border: 1px solid darken($brand-primary,20); }
  &.btn-shadow {
		-webkit-box-shadow: inset 0 3px 0 darken($brand-primary,19); 
	     -moz-box-shadow: inset 0 3px 0 darken($brand-primary,19);
		        box-shadow: inset 0 3px 0 darken($brand-primary,19); }
  &.btn-stroke {
  	border: 3px solid transparent;
  	border-color: darken($brand-primary,7);
  	color: #fff;
	  background: darken($brand-primary,7);
	  -webkit-box-shadow: none; 
	     -moz-box-shadow: none;
		        box-shadow: none; }
    }


.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $brand-primary;
  border-color: $brand-primary; }


/* =WARNING
========================================================================== */

.btn-warning {
  color: #ffffff;
  background-color: $brand-warning;
  border-color: $brand-warning;
  &.btn-shadow {
		-webkit-box-shadow: inset 0 -4px 0 darken($brand-warning,15); 
	     -moz-box-shadow: inset 0 -4px 0 darken($brand-warning,15);
		        box-shadow: inset 0 -4px 0 darken($brand-warning,15); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $brand-warning;
  	color: $brand-warning;
	  background: none; }
	&.btn-border {
		border: 1px solid darken($brand-warning,20); }
	&.btn-emboss {
	  text-shadow: 0 1px 2px darken($brand-warning,25); }
	&.btn-bevel {
	  text-shadow: 0 -1px 2px darken($brand-warning,25); }
    }

.btn-warning:hover,
.btn-warning:focus {
  background-color: lighten($brand-warning,4);
  border-color: lighten($brand-warning,4);
  &.btn-border {
		border: 1px solid darken($brand-warning,20); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $brand-warning;
  	color: #fff;
	  background: $brand-warning; }
    }

.btn-warning:active,
.btn-warning.active {
  background-color: darken($brand-warning,5);
  border-color: darken($brand-warning,5);
  -webkit-box-shadow: inset 0 2px 0 darken($brand-warning,15); 
	   -moz-box-shadow: inset 0 2px 0 darken($brand-warning,15);
		      box-shadow: inset 0 2px 0 darken($brand-warning,15);
  &.btn-border {
		border: 1px solid darken($brand-warning,20); }
  &.btn-shadow {
		-webkit-box-shadow: inset 0 3px 0 darken($brand-warning,19); 
	     -moz-box-shadow: inset 0 3px 0 darken($brand-warning,19);
		        box-shadow: inset 0 3px 0 darken($brand-warning,19); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: darken($brand-warning,7);
  	color: #fff;
	  background: darken($brand-warning,7);
	  -webkit-box-shadow: none; 
	     -moz-box-shadow: none;
		        box-shadow: none; }
    }



.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: $brand-warning;
  border-color: $brand-warning; }


/* =DANGER
========================================================================== */

.btn-danger {
  color: #ffffff;
  background-color: $brand-danger;
  border-color: $brand-danger;
  &.btn-shadow {
		-webkit-box-shadow: inset 0 -4px 0 darken($brand-danger,15); 
	     -moz-box-shadow: inset 0 -4px 0 darken($brand-danger,15);
		        box-shadow: inset 0 -4px 0 darken($brand-danger,15); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $brand-danger;
  	color: $brand-danger;
	  background: none; }
	&.btn-border {
		border: 1px solid darken($brand-danger,20); }
  &.btn-emboss {
	  text-shadow: 0 1px 2px darken($brand-danger,25); }
	&.btn-bevel {
	  text-shadow: 0 -1px 2px darken($brand-danger,25); }
    }

.btn-danger:hover,
.btn-danger:focus {
  background-color: lighten($brand-danger,4);
  border-color: lighten($brand-danger,4);
  &.btn-border {
		border: 1px solid darken($brand-danger,20); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $brand-danger;
  	color: #fff;
	  background: $brand-danger; }
}

.btn-danger:active,
.btn-danger.active {
  background-color: darken($brand-danger,5);
  border-color: darken($brand-danger,5);
  -webkit-box-shadow: inset 0 2px 0 darken($brand-danger,15); 
	   -moz-box-shadow: inset 0 2px 0 darken($brand-danger,15);
		      box-shadow: inset 0 2px 0 darken($brand-danger,15);
  &.btn-border {
		border: 1px solid darken($brand-danger,20); }
  &.btn-shadow {
		-webkit-box-shadow: inset 0 3px 0 darken($brand-danger,19); 
	     -moz-box-shadow: inset 0 3px 0 darken($brand-danger,19);
		        box-shadow: inset 0 3px 0 darken($brand-danger,19); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: darken($brand-danger,7);
  	color: #fff;
	  background: darken($brand-danger,7);
	  -webkit-box-shadow: none; 
	     -moz-box-shadow: none;
		        box-shadow: none; }
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: $brand-danger;
  border-color: $brand-danger; }


/* =SUCCESS
========================================================================== */

.btn-success {
  color: #ffffff;
  background-color: $brand-success;
  border-color: $brand-success;
  &.btn-shadow {
		-webkit-box-shadow: inset 0 -4px 0 darken($brand-success,15); 
	     -moz-box-shadow: inset 0 -4px 0 darken($brand-success,15);
		        box-shadow: inset 0 -4px 0 darken($brand-success,15); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $brand-success;
  	color: $brand-success;
	  background: none; }
	&.btn-border {
		border: 1px solid darken($brand-success,20); }
  &.btn-emboss {
	  text-shadow: 0 1px 2px darken($brand-success,25); }
	&.btn-bevel {
	  text-shadow: 0 -1px 2px darken($brand-success,25); }
    }

.btn-success:hover,
.btn-success:focus {
  background-color: lighten($brand-success,4);
  border-color: lighten($brand-success,4);
  &.btn-border {
		border: 1px solid darken($brand-success,20); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $brand-success;
  	color: #fff;
	  background: $brand-success; }
    }
    
.btn-success:active,
.btn-success.active {
  background-color: darken($brand-success,5);
  border-color: darken($brand-success,5);
	-webkit-box-shadow: inset 0 2px 0 darken($brand-success,15); 
     -moz-box-shadow: inset 0 2px 0 darken($brand-success,15);
	        box-shadow: inset 0 2px 0 darken($brand-success,15);
	&.btn-border {
		border: 1px solid darken($brand-success,20); }
  &.btn-shadow {
		-webkit-box-shadow: inset 0 3px 0 darken($brand-success,19); 
	     -moz-box-shadow: inset 0 3px 0 darken($brand-success,19);
		        box-shadow: inset 0 3px 0 darken($brand-success,19); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: darken($brand-success,7);;
  	color: #fff;
	  background: darken($brand-success,7);
	  -webkit-box-shadow: none; 
	     -moz-box-shadow: none;
		        box-shadow: none; }
    }

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: $brand-success;
  border-color: $brand-success; }


/* =INFO
========================================================================== */

.btn-info {
  color: #ffffff;
  background-color: $brand-info;
  border-color: $brand-info;
  &.btn-shadow {
		-webkit-box-shadow: inset 0 -4px 0 darken($brand-info,15); 
	     -moz-box-shadow: inset 0 -4px 0 darken($brand-info,15);
		        box-shadow: inset 0 -4px 0 darken($brand-info,15); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $brand-info;
  	color: $brand-info;
	  background: none; }
	&.btn-border {
		border: 1px solid darken($brand-info,20); }
  &.btn-emboss {
	  text-shadow: 0 1px 2px darken($brand-info,25); }
	&.btn-bevel {
	  text-shadow: 0 -1px 2px darken($brand-info,25); }
}

.btn-info:hover,
.btn-info:focus {
  background-color: lighten($brand-info,4);
  border-color: lighten($brand-info,4);
  &.btn-border {
		border: 1px solid darken($brand-info,20); }
   &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: $brand-info;
  	color: #fff;
	  background: $brand-info; }
}

.btn-info:active,
.btn-info.active {
  background-color: darken($brand-info,5);
  border-color: darken($brand-info,5);
  -webkit-box-shadow: inset 0 2px 0 darken($brand-info,17); 
	   -moz-box-shadow: inset 0 2px 0 darken($brand-info,17);
		      box-shadow: inset 0 2px 0 darken($brand-info,17);
  &.btn-border {
		border: 1px solid darken($brand-info,20); }
  &.btn-shadow {
		-webkit-box-shadow: inset 0 3px 0 darken($brand-info,19); 
	     -moz-box-shadow: inset 0 3px 0 darken($brand-info,19);
		        box-shadow: inset 0 3px 0 darken($brand-info,19); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: darken($brand-info,7);
  	color: #fff;
	  background: darken($brand-info,7);
	  -webkit-box-shadow: none; 
	     -moz-box-shadow: none;
		        box-shadow: none; }
    }

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: $brand-info;
  border-color: $brand-info; }
  

/* =INVERSE
========================================================================== */

.btn-inverse {
  color: $brand-primary;
  background-color: #fff;
  border-color: #fff;
  &.btn-shadow {
		-webkit-box-shadow: inset 0 -4px 0 darken(#eee,15); 
	     -moz-box-shadow: inset 0 -4px 0 darken(#eee,15);
		        box-shadow: inset 0 -4px 0 darken(#eee,15); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: #fff;
  	color: #fff;
	  background: none; }
	&.btn-border {
		border: 1px solid darken(#fff,20); }
  &.btn-emboss {
	  text-shadow: 0 1px 2px darken(#eee,25); }
	&.btn-bevel {
	  text-shadow: 0 -1px 2px darken(#eee,25); }
}

.btn-inverse:hover,
.btn-inverse:focus {
  background-color: #fff;
  border-color: #fff;
  &.btn-border {
		border: 1px solid darken(#fff,20); }
   &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: #fff;
  	color: $brand-primary;
	  background: #fff; }
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: darken($brand-primary,5);
  border-color: darken($brand-primary,5);
  -webkit-box-shadow: inset 0 2px 0 darken($brand-primary,17); 
	   -moz-box-shadow: inset 0 2px 0 darken($brand-primary,17);
		      box-shadow: inset 0 2px 0 darken($brand-primary,17);
  &.btn-border {
		border: 1px solid darken($brand-primary,20); }
  &.btn-shadow {
		-webkit-box-shadow: inset 0 3px 0 darken($brand-primary,19); 
	     -moz-box-shadow: inset 0 3px 0 darken($brand-primary,19);
		        box-shadow: inset 0 3px 0 darken($brand-primary,19); }
  &.btn-stroke {
  	border: 2px solid transparent;
  	border-color: darken($brand-primary,7);
  	color: #fff;
	  background: darken($brand-primary,7);
	  -webkit-box-shadow: none; 
	     -moz-box-shadow: none;
		        box-shadow: none; }
    }

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #fff;
  border-color: #fff; }
    


/* =LINK
========================================================================== */

.btn-link {
  font-weight: normal;
  color: $brand-primary;
  cursor: pointer;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: darken($brand-primary,7);
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #333333;
  text-decoration: none;
}


/* =ANIMATIONS
========================================================================== */

.btn-slow {
	-webkit-transition: all 0.1s ease-in;
     -moz-transition: all 0.1s ease-in;
       -o-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in; }
          
.btn-snail {
	-webkit-transition: all 0.2s ease-in;
     -moz-transition: all 0.2s ease-in;
       -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }


input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}




