/* ======================================================
   =TYPOGRAPHY
   =================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: inherit;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 75%;
}

h1,
.h1 {
  font-size: 54px;
  font-weight: 300;
  color: darken($text-color,5);
}

h2,
.h2 {
  font-size: 22px;
  font-weight: 700;
  color: darken($brand-primary,15);
  letter-spacing: -0.1ex;
}

h3,
.h3 {
  font-size: 24px;
  color: #4b4b56;
}

h4,
.h4 {
  font-size: 22px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

small,
.small {
  font-size: 85%;
}

cite {
  font-style: normal;
}

.text-muted {
  color: #999999;
}

.text-primary {
  color: $brand-primary;
  &:hover {
    color: darken($brand-primary,5);
  }
}

.text-warning {
  color: $brand-warning;
  &:hover {
    color: darken($brand-warning,5);
  }
}

.text-danger {
  color: $brand-danger;
  &:hover {
    color: darken($brand-danger,5);
  }
}

.text-success {
  color: $brand-success;
  &:hover {
    color: darken($brand-success,5);
  }
}

.text-info {
  color: $brand-info;
  &:hover {
    color: darken($brand-info,5);
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}