
.footer {
  @extend .container-atom;
  background-color: $yellow;
  padding-top: 80px;
}

.footer__title {
  @extend .heading-atom;
  padding-bottom: 60px;

  @include breakpoint(portrait) {
    font-size: 32px;
  }
}

.footer__text {
  max-width: 450px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoint(portrait) {
    max-width: 400px;
  }

  ._icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include breakpoint(portrait) {
      width: 60px;
      height: 60px;
    }
  }
}

.footer__input {
  @include clear;
  max-width: 400px;
  margin: 0 auto;
  input {
    -webkit-appearance: none;
    background-color: $yellow;
    border: 1px solid darken($yellow, 20%);
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    color: $foreground;
    width: 70%;
    float: left;
    height: 60px;

    &:focus {
      outline: none;
      border: 1px solid $foreground;
    }
  }

  input[type="submit"] {
    margin-left: -1px;
    width: 30%;
    height: 60px;
    float: left;
    background-color: $orange;
    border: 1px solid darken($yellow, 20%);
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 4px;
  }

}

::-webkit-input-placeholder {
   color: darken($yellow, 20%);
}

:-moz-placeholder { /* Firefox 18- */
   color: darken($yellow, 20%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: darken($yellow, 20%);
}

:-ms-input-placeholder {
   color: darken($yellow, 20%);
}

.i-twitter {
  background-image: url('../img/twitter.png')
}

.i-facebook {
  background-image: url('../img/facebook.png')
}

.i-github {
  background-image: url('../img/github.png')
}

.i-skype {
  background-image: url('../img/skype.png')
}

.i-angel {
  background-image: url('../img/angel.png')
}

.donate {
  font-size: 14px;
  display: block;
  color: $foreground;

  @include breakpoint(portrait) {
    font-size: 16px;
  }
}
