
.intro {
  @extend .container-atom;
  padding-top: 90px;
}

.intro__title {
  @extend .heading-atom;
  padding-bottom: 40px;

  @include breakpoint(portrait) {
    font-size: 32px;
  }
}

.intro__image {

  max-width: 540px;
  margin: 0 auto;
  border-bottom: 1px solid #c1bcbc;
  margin-bottom: 60px;

  ._image {
    height: 250px;
    max-width: 400px;
    margin: 0 auto;
    background-image: url('../img/iphone_crop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(portrait) {
      height: 350px;
    }
  }
}


.intro__features {
  @extend .features;
  padding-bottom: 20px;
  border-bottom: 1px solid #c1bcbc;
}

.i-face {
  background-image: url('../img/simple.png')
}

.i-keys {
  background-image: url('../img/security.png')
}

.i-multi {
  background-image: url('../img/multi-currency.png')
}

.i-waggle {
  background-image: url('../img/waggle.png')
}