
.intro {
  @extend .container-atom;
  padding-top: 90px;
}

.intro__title {
  @extend .heading-atom;
  padding-bottom: 40px;
}

.intro__image {

  max-width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid #c1bcbc;
  margin-bottom: 80px;

  ._image {
    height: 350px;
    max-width: 400px;
    margin: 0 auto;
    opacity: 0.5;
    background-color: #c1bcbc;
  }
}


.intro__features {
  @extend .features;
  padding-bottom: 20px;
  border-bottom: 1px solid #c1bcbc;
}
