
.native {
  @extend .container-atom;
  padding-top: 80px;
}

.native__title {
  @extend .heading-atom;
  padding-bottom: 60px;

  @include breakpoint(portrait) {
    font-size: 32px;
  }
}

.native__features {
  @extend .features;

  .feature__item {
    ._link {
      @extend .jigsaw-medium;
      display: inline-block;
      font-size: 18px;
    }

  }
  ._subtext {
    text-align: left;

    ._icon {
      @include icon(35px, 40px, block);
      float: left;
      margin-top: 5px;
      margin-right: 10px;
    }

  }

}

.i-apple {
  background-image: url('../img/osx.png')
}

.i-android {
  background-image: url('../img/android.png')
}

.i-download {
  background-image: url('../img/download.png')
}
