
.native {
  @extend .container-atom;
  padding-top: 80px;
}

.native__title {
  @extend .heading-atom;
  padding-bottom: 60px;

  @include breakpoint(portrait) {
    font-size: 32px;
  }
}

.native__features {
  @extend .features;
}

.i-apple {
  background-image: url('../img/osx.png')
}

.i-android {
  background-image: url('../img/android.png')
}