
.native {
  @extend .container-atom;
  padding-top: 80px;
}

.native__title {
  @extend .heading-atom;
  padding-bottom: 30px;

  @include breakpoint(portrait) {
    font-size: 32px;
  }
}


.native__text {
 @extend .jigsaw-light;
  margin: 0 auto;
  padding-bottom: 40px;
  max-width: 455px;

  a {
    @extend .jigsaw-medium;
    color: $blue;
  }

  @include breakpoint(portrait) {
    padding-left: 0;
    padding-right: 0;
  }
}

.native__features {
  @extend .features;
  width: 280px;

  .feature__item {
    width: 280px;
    ._link {
      @extend .jigsaw-medium;
      display: inline-block;
      font-size: 18px;
    }

  }
  ._subtext {
    text-align: left;

    ._icon {
      @include icon(35px, 40px, block);
      float: left;
      margin-top: 5px;
      margin-right: 10px;
    }

  }

}

.i-apple {
  background-image: url('../img/osx.png')
}

.i-android {
  background-image: url('../img/android.png')
}

.i-download {
  background-image: url('../img/download.png')
}
