

.nav {
  position: relative;
  display: flex;
  height: 38px;
  justify-content: space-between;
  padding: 10px;
  background-color: #D8D8D8;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;

  @include breakpoint(portrait) {
    max-width: 240px;
    height: 42px;
  }

  .nav__link {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 13px;

    @include breakpoint(portrait) {
      font-size: 16px;
    }
  }

  &:before {
    content: '';
    @include icon(46px, 38px, block);
    background-image: url('/assets/img/left-edge.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -44px;
    top: -2px;

    @include breakpoint(portrait) {
      width: 53px;
      height: 44px;
    }
  }

  &:after {
    content: '';
    @include icon(46px, 38px, block);
    background-image: url('/assets/img/right-edge.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -44px;
    top: -2px;

    @include breakpoint(portrait) {
      width: 53px;
      height: 44px;
    }
  }
}

// ---------------------------------------- //


.splash {
  @extend .container-atom;
  position: relative;
  padding-top: 0;
  background: $background; /* Old browsers */
  background: linear-gradient(15deg,  $yellow 0px,$yellow 40%,$background 40%,$background 100%); /* W3C */
}

.splash__logo {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.splash__title {
  @extend .heading-atom;
  padding-bottom: 10px;

  @include breakpoint(portrait) {
    font-size: 40px;
  }
}

.splash__text {
  max-width: 250px;
  margin: 0 auto;
  line-height: 1.3;
  padding-bottom: 60px;

  @include breakpoint(portrait) {
    font-size: 18px;
  }
}

.splash__image {
  height: 300px;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../img/iphones_hero_x2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include breakpoint(portrait) {
    height: 450px;
  }
}

.splash__btn {
  @extend .hivebtn;
  max-width: 250px;
  margin: 0 auto;
}

// ------------------------------------- //

.nextbox {
  position: relative;
  height: 60px;
  background-color: $yellow;
}

.nextbox__icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $yellow;
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: -50px;


  .i-arrow-down {
    display: block;
    height: 20px;
    width: 40px;
    margin: 0 auto;
    padding-top: 120px;
    background-image: url('../img/caret.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

}
