
.tech {
  @extend .container-atom;
  padding-top: 50px;
}

.tech__wrapper {
  margin: 0 auto;
  max-width: 540px;
  padding-bottom: 60px;
  border-bottom: 1px solid #c1bcbc;
}

.tech__title {
  @extend .heading-atom;
  padding-bottom: 60px;

  @include breakpoint(portrait) {
    font-size: 32px;
  }
}

.tech__text {
  @extend .jigsaw-light;
  margin: 0 auto;
  padding-bottom: 20px;

  @include breakpoint(portrait) {
    padding-left: 0;
    padding-right: 0;
  }
}
