div#footer.wrap.footer
  footer.container
    div.row
      div.col-sm-12
        h1.logo1 share 
          strong.aleo hive
        p.social
          a.btn.btn-xs.btn-default.btn-icon.btn-round.btn-stroke(href='https://www.facebook.com/hivewallet',target='_blank')
            i.fa.fa-facebook
          a.btn.btn-xs.btn-default.btn-icon.btn-round.btn-stroke(href='https://twitter.com/hivewallet',target='_blank')
            i.fa.fa-twitter
          a.btn.btn-xs.btn-default.btn-icon.btn-round.btn-stroke(href='https://github.com/hivewallet',target='_blank')
            i.fa.fa-github
          a.btn.btn-xs.btn-default.btn-icon.btn-round.btn-stroke(href='http://www.reddit.com/user/hivewallet',target='_blank')
            i.icon-reddit
        p 2014 &copy; hivewallet.com

// SCRIPTS
script(type="text/javascript", src="/linker/js/socket.io.js")
script(type="text/javascript", src="/linker/js/sails.io.js")
script(type="text/javascript", src="/linker/js/app.js")
script(type="text/javascript", src="/linker/js/vendor/jquery.js")
script(type="text/javascript", src="/linker/js/vendor/bootstrap.min.js")
script(type="text/javascript", src="/linker/js/vendor/jquery.backstretch.min.js")
script(type="text/javascript", src="/linker/js/vendor/jquery.sequence.min.js")
script(type="text/javascript", src="/linker/js/vendor/jquery.pageslide.min.js")
script(type="text/javascript", src="/linker/js/main.min.js")
script(type="text/javascript", src="/linker/js/analytics.js")
// SCRIPTS END
