meta(charset='utf-8')
title Hive
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='icon',sizes='16x16 24x24 32x32 48x48 64x64',href='favicon.ico')
link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700',rel='stylesheet',type='text/css')
link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css',rel='stylesheet')

include hacks.html

// STYLES
link(rel="stylesheet", href="/linker/styles/style.css")
link(rel="stylesheet", href="/linker/styles/fontello.css")
link(rel="stylesheet", href="/linker/styles/gh-fork-ribbon.css")
// STYLES END
