<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="col-sm-6">
  <form id="newsletter" role="form" action="http://hivewallet.us3.list-manage.com/subscribe/post?u=81980e5e5d461b7b9fce1022d&amp;id=739d95b1de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
    <div class="mc-field-group form-group">
      <label class="sr-only" for="mce-EMAIL">Email Address </label>
      <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter email address">
    </div> 
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_81980e5e5d461b7b9fce1022d_739d95b1de" value=""></div>
    <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
  </form>
</div>
<!--End mc_embed_signup-->