
<!DOCTYPE html>

<!--[if IEMobile]>      <html class="iemobile site__background" lang="en">            <![endif]-->
<!--[if lt IE 7]>       <html class="no-js site__background ie6 oldie" lang="en">     <![endif]-->
<!--[if IE 7]>          <html class="no-js site__background ie7 oldie" lang="en">     <![endif]-->
<!--[if IE 8]>          <html class="no-js site__background ie8 oldie" lang="en">     <![endif]-->
<!--[if IE 9]>          <html class="no-js site__background ie9" lang="en">           <![endif]-->

<!--[if gt IE 8]><!-->  
<html class="no-js" lang="en"> 
<!--<![endif]-->

  {{> _head }}

  <body>

    {{! pipe breakpoints to js }}
    <div id="js__media-check"></div>

    {{! page content is loaded with this tag }}
    {{> body }}

    {{! scripts are loaded in this partial }}
    {{> _foot }}

  </body>
  
</html>