.jigsaw-light {
  font-family: "Jigsaw Light";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

.jigsaw-regular {
  font-family: "Jigsaw Regular";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

.jigsaw-medium {
  font-family: "Jigsaw Medium";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

.jigsaw-bold {
  font-family: "Jigsaw Bold";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
