{{!-- more info & email --}}

<div class="footer">

  <h2 class="footer__title" data-i18n="footer.title">Connect with Hive</h2>

  <p class="footer__text" data-i18n="footer.text">Keen to keep on top of what’s happening in the Hive universe? Give us your email, and we’ll send you only important stuff about Hive. Jump into our open Skype channel for a chat, or give us a shout on social media.</p>

<!-- Begin MailChimp Signup Form -->

  <form action="http://hivewallet.us3.list-manage.com/subscribe/post?u=81980e5e5d461b7b9fce1022d&amp;id=b4bcf01c26" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="footer__input">
      <input type="email" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL" data-i18n="[placeholder]footer.email_address">
      <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button" data-i18n="[value]footer.sign_up">
    </div>
     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_81980e5e5d461b7b9fce1022d_b4bcf01c26" tabindex="-1" value=""></div>
  </form>

<!--End mc_embed_signup-->

  <div class="footer__icons">

    <a href="skype:?chat&blob=FCWj_6PyF1y7OgyaP33CCwpjeJYGIppI9C2Wf0AfZ2pPE-bTU65hZiL0yQWISqHDCtsxjB2VDTH0_ctbBypDG33ULZj0wD911NhPTvNutKIIOag_RBW5M1lWRdWqLiBjbnNGWb3yn29LHMOlK55In6Qiaen_jL6cS1mDnLroVu3KbM3SWqRVCUJ5MrFTpjuunAKbxGtMQgnPc-YGNILWV5pXtL_su6DZl1g" target="_blank" class="_icon i-skype"></a>

    <a href="https://twitter.com/hivewallet" target="_blank" class="_icon i-twitter"></a>

    <a href="https://www.facebook.com/Hivewallet" target="_blank" class="_icon i-facebook"></a>

    <a href="https://github.com/hivewallet" target="_blank" class="_icon i-github"></a>

    <a href="https://angel.co/hive-wallet" target="_blank" class="_icon i-angel"></a>

  </div>

  <span class="donate" data-i18n="footer.donate">Want to help support Hive? Donate BTC</span>

  <a class="donate" href="bitcoin:1HLRg9C1GsfEVH555hgcjzDeas14jen2Cn">1HLRg9C1GsfEVH555hgcjzDeas14jen2Cn</a>

</div>
