{{!-- more info & email --}}

<div class="footer">

  <h2 class="footer__title">More About Hive</h2>

  <p class="footer__text">Keen to keep on top of what’s happening in the Hive universe? Give us your email, and we’ll send you only important stuff about Hive. No junk, and we’ll never reveal your address to anyone else.</p>

  <div class="footer__input">
    <input type='email' placeholder="Email Address" />
    <a href="#">Sign Up</a>
  </div>

  <div class="footer__icons">
    <a href="#" target="_blank" class="_icon i-twitter"></a>
    <a href="#" target="_blank" class="_icon i-facebook"></a>
    <a href="#" target="_blank" class="_icon i-github"></a>
  </div>

</div>
