{{!-- hive web introduction --}}

<div class="intro" id="intro">

  <h2 class="intro__title">Hvorfor Bruke Hive?</h2>

  <div class="intro__image">
    <div class="_image"></div>
  </div>

  <div class="intro__features">

    <div class="feature__item">
      <div class="_header">
        <span class="_icon i-face"></span>
        <h3 class="_title">Simple</h3>
      </div>
      <p class="_text">Kom igang på sekunder og få tilgang til din lommebok fra en hvilken som helst enhet.</p>
    </div>

    <div class="feature__item">
      <div class="_header">
        <span class="_icon i-keys"></span>
        <h3 class="_title">Secure</h3>
      </div>
      <p class="_text">Hive er en HD (Hierchical Deterministic) lommebok med sikker passordfrase generering.</p>
    </div>

    <div class="feature__item">
      <div class="_header">
        <span class="_icon i-multi"></span>
        <h3 class="_title">Multi-Token</h3>
      </div>
      <p class="_text">Støtter både Bitcoin og Litecoin, med flere kommende i snart!</p>
    </div>

    <div class="feature__item">
      <div class="_header">
        <span class="_icon i-waggle"></span>
        <h3 class="_title">Waggle</h3>
      </div>
      <p class="_text">Bruk stedtjenestene i Waggle for å utføre transaksjoner med Hive-brukere nær deg.</p>
    </div>

  </div>

</div>
