{{!-- hive web introduction --}}

<div class="intro" id="intro">

  <h2 class="intro__title" data-i18n="intro.title">Why Use Hive?</h2>

  <div class="intro__image">
    <div class="_image"></div>
  </div>

  <div class="intro__features">

    <div class="feature__item">
      <div class="_header">
        <span class="_icon i-face"></span>
        <h3 id="intro_feature_simple_title" data-i18n="intro.feature_simple_title" class="_title">Simple</h3>
      </div>
      <p id="intro_feature_simple_text" data-i18n="intro.feature_simple_text" class="_text">Get started in seconds and access your wallet from any device.</p>
    </div>

    <div class="feature__item">
      <div class="_header">
        <span class="_icon i-keys"></span>
        <h3 id="intro_feature_secure_title" data-i18n="intro.feature_secure_title" class="_title">Secure</h3>
      </div>
      <p id="intro_feature_secure_text" data-i18n="intro.feature_secure_text" class="_text">Hive is a HD Wallet with secure passphrase generation.</p>
    </div>

    <div class="feature__item">
      <div class="_header">
        <span class="_icon i-multi"></span>
        <h3 id="intro_feature_multitoken_title" data-i18n="intro.feature_multitoken_title" class="_title">Multi-Token</h3>
      </div>
      <p id="intro_feature_multitoken_text" data-i18n="intro.feature_multitoken_text" class="_text">Supports both Bitcoin and Litecoin, with more coming soon!</p>
    </div>

    <div class="feature__item">
      <div class="_header">
        <span class="_icon i-waggle"></span>
        <h3 id="intro_feature_waggle_title" data-i18n="intro.feature_waggle_title" class="_title">Waggle</h3>
      </div>
      <p id="intro_feature_waggle_text" data-i18n="intro.feature_waggle_text" class="_text">Use the Waggle location feature for transactions with nearby Hive users.</p>
    </div>

  </div>

</div>
