{{!-- Other hive products --}}


<div class="native" id="native">

  <h2 class="native__title" data-i18n="native__title">Other Hive Products</h2>

  <p class="native__text" data-i18n="native__text">While you can share wallets between Hive iOS and Hive Web, please be aware that they will not work with Hive for Android or Mac, as these apps are built with different architectures. For more information see the <a href="https://github.com/hivewallet/discussions/wiki" target="_blank">Wiki</a>.</p>

  <div class="native__features">

    <div class="feature__item">
      <span class="_icon i-apple"></span>
      <div class="_header">
        <h3 class="_title" id="native_mac_title" data-i18n="native_mac_title">Mac</h3>
      </div>
      <p class="_text" id="native_mac_text" data-i18n="native_mac_text">Featuring BIP70 Payment Protocol support &amp; more.</p>
      <div class="_subtext">
        <span class="_icon i-download"></span>
        <a href="https://github.com/hivewallet/hive-osx/releases/download/1.4/Hive-1.4.zip" onClick="trackEvent('Exit', 'Hive OS X');" target="_blank" class="_link" id="native_mac_download" data-i18n="native_mac_download">Download Hive for Mac</a>
        <span class="_version" id="native_mac_version" data-i18n="native_mac_version">Current version: 1.4</span>
      </div>
    </div>

    <div class="feature__item">
      <div class="_header">
        <span class="_icon i-android"></span>
        <h3 class="_title" id="native_android_title" data-i18n="native_android_title">Android</h3>
      </div>
      <p class="_text" id="native_android_text" data-i18n="native_android_text">Featuring QR code scanner, NFC support &amp; more.</p>
      <div class="_subtext">
        <span class="_icon i-download"></span>
        <a href="https://play.google.com/store/apps/details?id=com.hivewallet.androidclient.wallet" onClick="trackEvent('Exit', 'Hive Android');" target="_blank" class="_link" id="native_android_download" data-i18n="native_android_download">Download Hive Android</a>
        <span class="_version" id="native_android_version" data-i18n="native_android_version">Current version: 0.4.1.3.52</span>
      </div>
    </div>

  </div>

</div>
