{{!-- Other hive products --}}


<div class="native" id="native">

  <h2 class="native__title">Andre Hive-Produkter</h2>

  <p class="native__text">Det er mulig å dele lommebøker mellom Hive iOS og Hive Web, vennligst vær klar over at de ikke vil fungere med Hive for Android eller Mac. For mer informasjon se <a href="https://github.com/hivewallet/discussions/wiki" target="_blank">Wikien</a>.</p>

  <div class="native__features">

    <div class="feature__item">
      <span class="_icon i-apple"></span>
      <div class="_header">
        <h3 class="_title">Mac</h3>
      </div>
      <p class="_text">Støtter BIP70 Betalingsprotokoll (Payment Protocol) &amp; mer.</p>
      <div class="_subtext">
        <span class="_icon i-download"></span>
        <a href="https://github.com/hivewallet/hive-osx/releases/download/1.4/Hive-1.4.zip" onClick="trackEvent('Exit', 'Hive OS X');" target="_blank" class="_link">Last ned Hive for Mac</a>
        <span class="_version">Nåværende version: 1.4</span>
      </div>
    </div>

    <div class="feature__item">
      <div class="_header">
        <span class="_icon i-android"></span>
        <h3 class="_title">Android</h3>
      </div>
      <p class="_text">Støtter QR-kode scanning, NFC &amp; mer.</p>
      <div class="_subtext">
        <span class="_icon i-download"></span>
        <a href="https://play.google.com/store/apps/details?id=com.hivewallet.androidclient.wallet" onClick="trackEvent('Exit', 'Hive Android');" target="_blank" class="_link">Last ned Hive Android</a>
        <span class="_version">Current version: 0.4.1.3.52</span>
      </div>
    </div>

  </div>

</div>
