{{!-- Other hive products --}}


<div class="native" id="native">

  <h2 class="native__title">Our Desktop Wallet: Hive Mac</h2>

  <p class="native__text">While you can share wallets between Hive iOS, Hive Android and Hive Web, please be aware that they will not work with Hive Mac, as this app is built with a different architecture. For more information see the <a href="https://github.com/hivewallet/discussions/wiki" target="_blank">Wiki</a>.</p>

  <div class="native__features">

    <div class="feature__item">
      <span class="_icon i-apple"></span>
      <div class="_header">
        <h3 class="_title">Mac</h3>
      </div>
      <p class="_text">Featuring BIP70 Payment Protocol support &amp; more.</p>
      <div class="_subtext">
        <span class="_icon i-download"></span>
        <a href="https://github.com/hivewallet/hive-osx/releases/download/1.4.1/Hive-1.4.1.zip" onClick="trackEvent('Exit', 'Hive OS X');" target="_blank" class="_link">Download Hive for Mac</a>
        <span class="_version">Current version: 1.4.1</span>
      </div>
    </div>

  </div>

</div>
