{{!-- menu and hero image --}}

<div class="splash">

  <div class="nav" id="button">
    <a href="#web" onClick="trackEvent('Navigation', 'Looking for web');" class="nav__link _web">Hive Web</a>

    <div class="nav-br">|</div>

    <a href="#ios" onClick="trackEvent('Navigation', 'Looking for ios');" class="nav__link">iOS</a>

    <div class="nav-br">|</div>

    <a href="#native" onClick="trackEvent('Navigation', 'Looking for osx');" class="nav__link _osx">OS X</a>

    <div class="nav-br">|</div>

    <a href="#native" onClick="trackEvent('Navigation', 'Looking for android');" class="nav__link">Android</a>
  </div>

  <div class="splash__logo"></div>
  <h2 class="splash__title">Introducing Hive Web</h2>
  <p class="splash__text">A human-friendly digital currency wallet for multiple platforms</p>

  <div class="splash__image"></div>
  <div id="web" class="splash__btn">
    <a href="http://web.hivewallet.com" onClick="trackEvent('Exit', 'Hive Web');" target="_blank">Create a wallet</a>
  </div>

  <div id="ios" class="splash__btn">
    <a id="ios" href="#" onClick="trackEvent('Exit', 'iOS');" target="_blank">Download the app</a>
  </div>

</div>

<div class="nextbox">
  <a href="#intro" class="nextbox__icon">
    <span class="_icon i-arrow-down"></span>
  </a>
</div>
