{{!-- menu and hero image --}}

<div class="splash">

  <div class="nav" id="button">
    <a href="#native" class="nav__link">Looking for Hive OS X or Android?</a>
  </div>

  <div class="splash__logo"></div>
  <h2 class="splash__title">Introducing Hive Web</h2>
  <p class="splash__text">A human friendly digital currency wallet for multiple plaforms</p>

  <div class="splash__image"></div>
  <a href="http://web.hivewallet.com" target="_blank" class="splash__btn">Create a wallet</a>

</div>

<div class="nextbox">
  <a href="#intro" class="nextbox__icon">
    <span class="_icon i-arrow-down"></span>
  </a>
</div>
