{{!-- technical info --}}

<div class="team">

  <div class="team__wrapper">

    <h2 class="team__title">How does it work?</h2>

    {{#each team}}

      <img src="assets/img/{{this.image}}" />
      {{this.name}}


    {{/each}}

  </div>

</div>

