{{!-- technical info --}}

<div class="team">

  <div class="team__wrapper">

    <h2 class="team__title" data-i18n="team__title">The Hive Team</h2>

    <div class="team__members">
      {{#each team}}
        <div class="_member">
          <div class="_img">
            <img src="assets/img/{{this.image}}" />
          </div>
          <h2>{{this.name}}</h2>
        </div>
      {{/each}}
    </div>

  </div>

</div>
