{{!-- technical info --}}

<div class="tech">

  <div class="tech__wrapper">

    <h2 class="tech__title" data-i18n="tech.title">How does it work?</h2>

    <p id="tech_text_1" class="tech__text" data-i18n="tech.text_1">Unlike hosted wallets, the new Hive does not store your tokens on a server anywhere. With just your passphrase, you can access your tokens from the iOS app, or via modern mobile and desktop browsers.</p>

    <p id="tech_text_2" class="tech__text" data-i18n="tech.text_2">There is no need to back up your wallet, just your passphrase. Writing it down and keeping it safe, or storing it in a password vault application is essential. If you lose it, you <b>will</b> lose your tokens.</p>

    <p id="tech_text_3" class="tech__text" data-i18n="tech.text_3">For more information on how Hive works, <span class="break-text--portrait"></span>please take a look at our <a href="https://github.com/hivewallet/hive-js/wiki/Hive-Web-FAQ" target="_blank"> FAQ</a>.</p>

  </div>

</div>

