{{!-- technical info --}}

<div class="tech">

  <div class="tech__wrapper">

    <h2 class="tech__title">The Tech Stuff</h2>

    <p class="tech__text">Hive Web is a HD (Hierarchical Deterministic) Wallet with secure passphrase generation, built to BIP32 and BIP39 specs. This means simple backups and better privacy.</p>

    <p class="tech__text">All we ask you to do is to keep your passphrase safe. We take care of the rest, and you can always access your coins anywhere, even from other wallets that implement the same specs.</p>

  </div>

</div>

