{{!-- technical info --}}

<div class="tech">

  <div class="tech__wrapper">

    <h2 class="tech__title">Hvordan fungerer det?</h2>

    <p class="tech__text">I motsetning til lommebøker som lagres hos en tilbyder, så lagrer nye Hive ikke dine midler på en server noe sted. Med din passordfrase kan du få tilgang til dine midler fra iOS appen eller via en moderne nettlser på din mobil eller datamaskin.</p>

    <p class="tech__text">Sikkerhetskopiering av din lommebok behøves ikke, kun din passordfrase kreves. Nedskrivning og sikker lagring eller lagring av den i et passordhånteringsprogram er ytterst viktig. Om du mister passordfrasen <b>vil du samtidig</b> miste dine midler.</p>

    <p class="tech__text">For mer informasjon om hvordan Hive fungerer, <span class="break-text--portrait"></span>vennligst ta en titt på vår<a href="https://github.com/hivewallet/hive-js/wiki/Hive-Web-FAQ" target="_blank"> FAQ</a>.</p>

  </div>

</div>

