{{!-- technical info --}}

<div class="tech">

  <div class="tech__wrapper">

    <h2 class="tech__title">How does it work?</h2>

    <p class="tech__text">Unlike hosted wallets, the new Hive does not store your coins on a server anywhere. With just your passphrase, you can access your coins from {{!-- the iOS app, or via --}}most mobile and desktop browsers.</p>

    <p class="tech__text">There is no need to back up your wallet, just your passphrase. Writing it down and keeping it safe, or storing it in a password vault application is essential. If you lose it, you <b>will</b> lose your coins.</p>

    <p class="tech__text">For more information on how Hive works, <span class="break-text--portrait"></span>please take a look at our <a href="https://github.com/hivewallet/hive-js/wiki/Hive-Web-FAQ" target="_blank">Github FAQ</a>.</p>

  </div>

</div>

