html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: $font-family-sans-serif;
	font-size: 300;
	background: #fff;
	color: $text-color;
	&.fixed-width {
		min-width: 1170px !important;
	}
	&.color {
		background: $brand-primary;
	}
	&.pattern {
		background: url("../img/bg.png") repeat;
	}
	
}

.wrap {
	position: relative;
	width: 100%;
	height: auto;
  &.header {
	  margin: 0;
	  padding: 0;
	  background: none;
	  color: $text-color !important;
	  &.padding {
		  padding: 100px 0;
	    }
    }
  &.content {
	  margin: 0;
	  padding: 80px 0;
	  background: #fff;
	  color: #4b4b56;
	  &.no-bg {
		  background: none;
	    }
    }
  &.highlight {
	  margin: 0;
	  padding: 100px 0;
	  background: $gray-light;
	  color: $text-color;
	  &.iphone {
	    background: $brand-primary;
		  padding-bottom: 0;
		  & .h1 {
			  color: #fff;
		  }
		  & .h2 {
		  	color: darken($brand-primary,20);
		  }
	  }
  }
  &.newsletter {
	  margin: 0;
	  padding: 48px 0 40px;
	  background: #fff url("../img/bg-newsletter.jpg") repeat-x;
	  color: $text-color;
    }
  &.footer {
	  padding: 70px 0;
	  background: $gray-light;
    }
  }

@media (max-width: 767px) {  

	.wrap {
	  &.content {
		  margin: 0;
		  padding: 80px 0;
		  background: #fff;
		  color: #4b4b56;
		  &.no-bg {
			  background: none;
		    }
	    }  	
	  }
	
	.h1 {
		font-size: 42px;
	}  

}


/* =======================================================
   =NAV
   ======================================================*/

#nav {
	display: none;
	height: 100%;
	& h5 {
		margin-left: 15px;
	  }
	& hr {
		border-color: #222;
	}
}   

.toggle-wrap {
	position: fixed;
	width: 50%;
	height: 35px;
	margin-left: 50%;
	top: 20px;
	text-align: right;
	z-index: 9999;
	&.fixed-width {
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  margin: 0;
	  	
	}
	& .container {
		width: 70%;
	}
}

.show-nav {
	position: relative;
	float: right;
  }


@media (max-width: 767px) {  

	.toggle-wrap {
		& .container {
			width: 100%;
		}
	}  

}

/* =======================================================
   =HEADER
   ======================================================*/
   
header {
	height: 70px;
  margin-bottom: 1px;
  padding: 15px 0;
  color: $text-color;
  z-index: 99999;
  & .btn {
	  margin-top: 6px;
    }
  }

.header {
  & .cta {
   color: $text-color !important; 
	}	  
}

h1.logo {
	font-size: 32px;
	line-height: 32px;
	margin: 0;
	padding: 0;
	font-weight: 300;
	letter-spacing: -0.1em;
	& a {
		color: $text-color;
		&:hover {
			color: $brand-primary;
			text-decoration: none;
		}
	}
}


/* =======================================================
   =FEATURES
   ======================================================*/	

.cta-mobile {
  	display: none;
	padding: 15px 0 5px;
	background: darken($gray-light,4);
}  

.fixed-width {
	& .cta-mobile {
	  	display: none  !important;
		visibility: hidden !important;
	} 
}

@media only screen and (max-width: 649px) {

	.cta-mobile {
	    display: block;
	} 

} 




/* =======================================================
   =FEATURES
   ======================================================*/	
   
.feature {
	margin-top: 30px;
	padding: 20px;
	border-radius: 8px;
	-webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
	& i {
		position: relative;
		font-size: 80px;
		padding: 20px 0;
		margin: 10px 0 25px;
		}
  &:hover {
  	cursor: pointer;
	  margin-top: 25px;
	  margin-bottom: 0;
	  color: $brand-primary;
  }
  & .h4 {
	  margin-top: 20px;
  }
  & p {
	  padding: 3px 10px;
  }
}

@media (max-width: 767px) {  

	.feature {
		margin-top: 30px;
		padding: 20px;
		border-radius: 8px;
		-webkit-transition: all 0.2s ease-in-out;
	     -moz-transition: all 0.2s ease-in-out;
	       -o-transition: all 0.2s ease-in-out;
	          transition: all 0.2s ease-in-out;
		& i {
			position: relative;
			font-size: 80px;
			padding: 20px 0;
			margin: 10px 0 25px;
			}
	  &:hover {
	  	cursor: pointer;
		  margin-top: 30px;
		  margin-bottom: 0;
		  color: $brand-primary;
	  }
	  & .h4 {
		  margin-top: 20px;
	  }
	  & p {
		  padding: 3px 10px;
	  }
	}
 
}


/* =======================================================
   =REVIEWS
   ======================================================*/	

.carousel {
  height: auto;
  padding: 0;
  margin: 0;
}
  
.review-thumb {
	position: relative;
	float: left;
	width: 170px;
	height: 170px;
	margin-right: 50px;
	padding: 5px;
	background: lighten($brand-primary,30);
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
	&:hover {
		background: lighten($brand-primary,10);
	}
	& img {
		max-width: 100%;
		border-radius: 50%;
	}
}

.testimonial {
	padding: 30px 0 5px;
	font-size: 22px;
}

.byline {
	font-size: 26px;
	letter-spacing: -0.1ex;
	font-weight: 300;
}

@media (min-width: 768px) and (max-width: 979px) { 
	
	.testimonial {
		padding: 30px 0 5px;
		font-size: 18px;
	}	
	
}

@media (max-width: 767px) {  

	.review-thumb {
		position: relative;
		float: none;
		width: 170px;
		height: 170px;
		margin: 0 auto;
		padding: 5px;
		text-align: center;
		background: lighten($brand-primary,30);
		border-radius: 50%;
		-webkit-transition: all 0.2s ease-in-out;
		   -moz-transition: all 0.2s ease-in-out;
		     -o-transition: all 0.2s ease-in-out;
		        transition: all 0.2s ease-in-out;
		&:hover {
			background: lighten($brand-primary,10);
		}
		& img {
			text-align: center;
			max-width: 100%;
			border-radius: 50%;
		} 
  }   
	
	.testimonial {
	 	text-align: center;
		padding: 30px 20px 5px;
		font-size: 16px;
	  }	
	  
	.byline {
		text-align: center;
		padding: 0 20px;
		font-size: 24px;
		letter-spacing: -0.1ex;
		font-weight: 300;
  	}
 
	
}

/* =======================================================
   =NEWSLETTER
   ======================================================*/	

.newsletter {
 
  & h1.logo {
    margin-top: 6px;
    }
  & form {
	  padding-top: 10px;
	  & input.form-control {
	 	  //width: 300px;
	  &.needsfilled {
		  border-color: $brand-warning;
		  color: darken($brand-warning,20);
	    }
	  }
  } 
}
 
.note {
	position: relative;
	text-align: right;
	padding: 15px 2% 0 0;
  }
   
@media (max-width: 767px) {  

	.note {
		position: relative;
		text-align: center;
		padding: 15px 2% 0 0;
	  }
  .form-group {
  	position: relative;
    width: 100%;
	  margin: 0 auto;
	  text-align: center;
  }
  form {
	  padding-top: 10px;
	  margin: 0 auto;
	  & button {
		  margin: 0;
		  padding: 0;
		  top: 0;
		  width: 32%;
		  text-align: center;
	  }
	  & input.form-control {
	 	  float: left;
	 	  width: 66%;
	 	  margin-right: 2%; 
	    &.needsfilled {
		    border-color: $brand-warning;
		    color: darken($brand-warning,20);
	      }
	    }
  	}

}

/* =======================================================
   =FOOTER
   ======================================================*/	
    
footer {
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	color: $gray-dark;
	& h1.logo a {
		color: $gray-dark;
		&:hover {
			text-decoration: none;
			color: $brand-primary;
		}
	}
	& .social {
		padding: 10px 0 0;
	}
	& .btn-default.btn-stroke {
		border-color: $gray-dark;
		color: $gray-dark;
		&:hover {
			border-color: $brand-primary;
			color: $brand-primary;
			background: none;
		}
	}
}  



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: auto;
  padding: 0;
  margin: 0;
}
